.form-control-base {
    display: flex;
    flex-direction: column;
}

.form-control-base-child {
    display: flex;
}

.form-group-base {
    margin: 1rem;
    width: 100%;
}

.form-control-locked {
    display: flex;
}

.input-control {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.span-control {
    padding: 0 0.3rem 0.5rem 0;
}

.dropdown-control {
    display: flex;
    flex-direction: column;
}

