@page "/"
@inject IBetService BetService
@inject IDialogService DialogService
@namespace BettingSpreadsheet.Shared

    <AuthorizeView>
        <Authorized>
            <h1>Hi, @context.User.Identity.Name. Welcome back!</h1>
            <Stats />

            <Bets />
        </Authorized>
        <NotAuthorized>
            <Login />
        </NotAuthorized>
    </AuthorizeView>
