.main-body {
    max-width: 400px;
    margin: 0 auto;
}

.h2-styling {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 700;
    margin: .5rem 0;
}

.btn-login {
    width: 100%;
    padding: .7rem;
    margin: 0.5rem 0;
    border-radius: 30px;
}